/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&family=VT323&display=swap');

/* Body overflow hidden to stop horizontal scroll */
body {
	overflow-x: hidden;
	min-height: 100vh;
    background-image: url("../images/pixelretro.webp");
    position: relative;
}
 /* Overlay to dull colour of Background */
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); /* Adjust the opacity here */
    z-index: 1; /* Make sure it's behind the content */
    pointer-events: none; /* Ensures the overlay doesn't interfere with user interactions */
}

/* Content container This is used on all content sections to ensure they are infront of the overlay */
.content {
    position: relative;
    z-index: 2; /* Make sure content is above the overlay */
}

/* Navigation bar */
.navbar {
    background-color: #d9d9d9;
}

.navbar-brand {
    font-family: 'Press Start 2P', monospace;
}

.nav-link {
    font-family: 'VT323', sans-serif;
    font-size: 28px !important;
    background-color: #cd1515 !important;
    color: black !important;
    padding: 10px 20px; /*padding for button effect */
    margin: 5px; /* margin to seperate links/buttons */
    border-radius: 5px; /* rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure the links are displayed as block elements within the inline layout */
    border: #000 2px solid !important;
}

.active {
    text-decoration: underline !important;
}

.nav-link:hover {
    background-color: #a11313 !important;  /* Darken the background on hover */
    color: white !important; /* Change the text color to white on hover */
}

/* Game/Page title */
.heading-container {
    margin-top: 10px; /* space between page heaer and navbar */
}

.heading-back {
    background-color: rgba(217, 217, 217, 0.9); /* d9d9d9 color with 90% opacity */
    padding: 10px; /* padding to make the background more visible */
    border-radius: 5px; 
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'VT323', sans-serif;
    font-size: 48px;
    color: black;
}

/* Score box */
.score-box {
    display: none; /* Hide the score box by default */
}

.btn {
    font-family: 'VT323', sans-serif;
    font-size: 28px !important;
    background-color: #cd1515 !important;
    color: black !important;
    padding: 10px 20px;
    margin: 5px; /* margin to create separation */
    border-radius: 5px; /* rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure the links are displayed as block elements within the inline layout */
    border: #000 2px solid !important;
}

.btn:hover, .footer-icon:hover {
    background-color: #a11313 !important;  /* Darken the background on hover */
    color: white !important; /* Change the text color to white on hover */
}

/* Welcome Section */
.welcome-container {
    background-color: rgba(217, 217, 217, 0.9); /* d9d9d9 color with 90% opacity */
    padding: 10px; /* padding to make the background more visible */
    border-radius: 5px; 
    display: block;
    margin-bottom: 10px; /* Space between welcome section and Footer */
    font-family: 'VT323', sans-serif;
    font-size: 24px;
    color: black;
    width: 60% !important;

}



/* Game container */
#gameCanvasContainer {
    
    display: none;  /* Hide the container by default */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center the canvas horizontally */
    align-items: center; /* Center the canvas vertically */
    margin: 20px auto; /* Center the container and add vertical margins */
    max-width: fit-content; /* Fit the container to the content */
}

.gameCanvasbackground {
    background-color: rgba(217, 217, 217, 0.9); /* Grey background with 90% opacity */
    padding: 20px;
    border-radius: 15px; /* rounded corners */
}

canvas {
    width: 1000px;
    height: 571px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: url("../images/1000pxwidth-background-dall-e.webp");
    position: relative;
    cursor: url("../images/75pxwidth-targetcursor.png"), auto;
}

/* Footer */
footer {
    background-color: #d9d9d9;
    text-align: center;
    width: 100%;
    padding: 5px 0; /*  padding for spacing */
    position: relative; 
    margin-top: 10px; /* top margin to create space between content and footer */
    font-family: 'VT323', sans-serif;
    font-size: 18px;
    font-weight: bold;
    
}

.footer-logo {
    margin-left: 60px;
}

.footer-header {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Press Start 2P', monospace;
}

.footer-icon {
    font-size: 28px;
    color: #000;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #cd1515;
    padding: 5px 5px; 
    margin: 5px; /* margin to create separation */
    border-radius: 5px; /* rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure the links are displayed as block elements within the inline layout */
    border: #000 2px solid !important;
}

.footer-container {
    max-width: 90%; /* Constrain the width of the content */
    margin: 0 auto; /* Center the content */
}

@media (max-width: 768px) {
    .text-md-start, .text-md-end {
        text-align: center !important;
    }
    .footer-logo {
        margin-left: 0px;
    }
}


/* Game over Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1050; /* Ensure it's on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide overflow */
    background-color: rgba(0, 0, 0, 0.75); /* Darker background for better contrast */
}

.modal-content {
    background-color: rgba(217, 217, 217, 0.9); /* Match the site color scheme */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000; /* Darker border */
    width: 50%; 
    max-width: 500px; /* Maximum width for larger screens */
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    font-family: 'VT323', sans-serif; /* Match font */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#finalScore {
    font-size: 24px; 
    margin: 20px 0;
}

#restartButton {
    font-family: 'VT323', sans-serif;
    font-size: 28px !important; /*  button font size */
    background-color: #cd1515 !important;
    color: black !important;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: #000 2px solid !important;
}

#restartButton:hover {
    background-color: #a11313 !important; /* Darker on hover */
    color: white !important;
}

/* How to play modal */
.modal-content {
    background-color: rgba(217, 217, 217, 0.9) !important; /* Grey background with 90% opacity */
    border-radius: 15px; /* Rounded corners */
    font-family: 'VT323', sans-serif;
}

.modal-header, .modal-footer {
    border: none; /* Remove default Bootstrap borders */
}

.modal-title {
    font-family: 'Press Start 2P', monospace;
    font-size: 32px;
    color: black;
}

#gameRules {
    font-size: 24px;
    color: black;
}

#startGameFromModalBtn {
    font-family: 'VT323', sans-serif;
    font-size: 20px;
    background-color: #cd1515;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: #000 2px solid;
}

#startGameFromModalBtn:hover {
    background-color: #a11313; /* Darken the background on hover  */
    color: white; /* Change the text color to white on hover */
}

/* About Modal */
#aboutModal .modal-dialog, #howToPlayModal .modal-dialog {
    background-color: rgba(217, 217, 217, 0.9); /* Grey background with 90% opacity */
    border-radius: 15px; /* Rounded corners */
}

.modal-content {
    border-radius: 15px; /* Rounded corners */
    font-family: 'VT323', sans-serif;
}

.modal-header, .modal-footer {
    border: none; /* Remove default Bootstrap borders */
}

.modal-title {
    font-family: 'Press Start 2P', monospace;
    font-size: 32px;
    color: black;
}

#gameRules, .aboutContent {
    font-size: 24px;
    color: black;
}

/* Custom backdrop style */
.modal-backdrop.show {
    opacity: 0.9 !important; /* opacity */
    background-color: rgba(217, 217, 217, 0.9) !important; /* Grey background */
}
