/* Body overflow hidden to stop horizontal scroll */
body {
	overflow-x: hidden;
	min-height: 100vh;
}

/* Game Area */
.game-area {
    width: 1000px;
    height: 571px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: url("/assets/images/1000pxwidth-background-dall-e.webp");
    position: relative;
}

.duck {
    width: 100px;
    height: 100px;
    background-size: cover;
    transition: top 0.5s, left 0.5s; /* smooth movement simulation */
    margin: 10px;
    position: absolute;
    display: none;
}

/* duck starting positions and movement keyframes */

#duck1 {
    background-image: url(../images/100pxwidth-duck-dall-e.png);
    display: flex;
    animation: moveDuck1 10s infinite linear;
}

@keyframes moveDuck1 {
    0% { top: 30%; left: 10%; }
    25% { top: 20%; left: 30%; }
    50% { top: 10%; left: 50%; }
    75% { top: 20%; left: 70%; }
    100% { top: 30%; left: 90%; }
}

 #duck2 {
    background-image: url(../images/flipped-100pxwidth-duck-dall-e.png);
    display: flex;
    animation: moveDuck2 8s infinite linear;
}
@keyframes moveDuck2 {
    0% { top: 10%; left: 80%; }
    25% { top: 20%; left: 60%; }
    50% { top: 30%; left: 40%; }
    75% { top: 20%; left: 20%; }
    100% { top: 10%; left: 0%; }
} 

 #duck3 {
    background-image: url(../images/100pxwidth-duck-dall-e.png);
    display: flex;
    animation: moveDuck3 6s infinite linear;
}

@keyframes moveDuck3 {
    0% { top: 80%; left: 10%; }
    25% { top: 70%; left: 30%; }
    50% { top: 60%; left: 50%; }
    75% { top: 70%; left: 70%; }
    100% { top: 80%; left: 90%; }
}


#duck4 {
    display: flex;
    background-image: url(../images/flipped-100pxwidth-duck-dall-e.png);
    animation: moveDuck4 4s infinite linear;
}

@keyframes moveDuck4 {
    0%, 48% { transform: scaleX(1);}
    0% { top: 50%; left: 60%; }
    25% { top: 40%; left: 40%; }
    49%, 51% {transform: scaleX(-1);}
    50% {
        top: 30%;
        left: 20%;
    }
    52%, 100% {transform: scaleX(-1);}
    75% { top: 40%; left: 40%; }
    100% { top: 50%; left: 60%; }
}

#duck5 {
    background-image: url(../images/100pxwidth-duck-dall-e.png);
    animation: moveDuck5 10s infinite linear;
    display: flex;
}

@keyframes moveDuck5 {
    0% { top: 40%; left: 15%; }
    25% { top: 30%; left: 35%; }
    50% { top: 20%; left: 50%; }
    75% { top: 10%; left: 75%; }
    100% { top: 0%; left: 85%; }
}

#duck6 {
    background-image: url(../images/flipped-100pxwidth-duck-dall-e.png);
    animation: moveDuck6 8s infinite linear;
    display: flex;
}

@keyframes moveDuck6 {
    0% { top: 20%; left: 75%; }
    50% { top: 10%; left: 55%; }
    100% { top: 0%; left: 35%; }
}

#duck7 {
    background-image: url(../images/100pxwidth-duck-dall-e.png);
    animation: moveDuck7 6s infinite linear;
    display: flex;
}

@keyframes moveDuck7 {
    0% { top: 25%; left: 5%; }
    25% { top: 35%; left: 25%;}
    50% { top: 25%; left: 45%; }
    75% { top: 35%; left: 65%; }
    100% { top: 25%; left: 85%; }
}

#duck8 {
    background-image: url(../images/flipped-100pxwidth-duck-dall-e.png);
    animation: moveDuck8 4s infinite linear;
    display: flex;
}

@keyframes moveDuck8 {
    0% { top: 15%; left: 80%; }
    25% { top: 25%; left: 60%; }
    50% { top: 15%; left: 40%; }
    75% { top: 5%; left: 20%; }
    100% { top: 15%; left: 0%; }
}

#duck9 {
    background-image: url(../images/100pxwidth-duck-dall-e.png);
    animation: moveDuck9 10s infinite linear;
    display: flex;
}

@keyframes moveDuck9 {
    0% { top: 70%; left: 20%; }
    50% { top: 80%; left: 40%; }
    100% { top: 70%; left: 60%; }
}
